.snaps-container {
    padding: 20px 20px 100px 20px;
    background-color: #f8f8f8;
    min-height: 100vh;
}

.snaps-title {
    font-weight: 800;
    margin-bottom: 20px;
    color: #10b981;
    font-size: 24px;
}

.snaps-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: scroll;
    /* border: 1px solid red; */
    max-height: 80dvh;

}

.snap-card {
    background: white;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid #eee;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 1px solid grey;
}

.snap-card.active {
    border-color: #10b981;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.card-date {
    font-size: 11px;
    color: #999;
    display: flex;
    align-items: center;
    gap: 4px;
}

.card-amount {
    font-weight: 800;
    color: #10b981;
    font-size: 18px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    /* margin-bottom: 10px; */
}

.info-badge {
    background: #f1f5f9;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 10px;
    color: #64748b;
    display: flex;
    align-items: center;
    gap: 4px;
    text-transform: capitalize;
}

.card-notes {
    background: #fffcf0;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    gap: 6px;
}

.card-notes p {
    font-size: 12px;
    color: #777;
    font-style: italic;
    margin: 0;
}

.quote-icon {
    font-size: 10px;
    color: #eab308;
}

.card-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.edit-btn,
.delete-btn {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.edit-btn {
    background: #f1f5f9;
    color: #475569;
}

.delete-btn {
    background: #fef2f2;
    color: #ef4444;
}